:root {
  // Custom color
  --ml-color-miya: #d7a96b;
  --ml-color-elena: #9bce92;

  // Layout Height
  --layout-header-height: 40px;
  --layout-footer-height: 22px;

  // Font family
  --ml-font-family: "Noto Sans SC", "Noto Sans JP", sans-serif,
    var(--el-font-family);

  // override user agent stylesheet
  * {
    font-family: var(--ml-font-family);
  }
  h1 {
    font-size: var(--el-font-size-extra-large);
  }
  h2 {
    font-size: var(--el-font-size-large);
  }
  h3 {
    font-size: var(--el-font-size-medium);
  }
  h4 {
    font-size: var(--el-font-size-base);
  }
  h5 {
    font-size: var(--el-font-size-small);
  }
  h6 {
    font-size: var(--el-font-size-extra-small);
  }
}

@media screen and (max-width: $ml-layout-compact-width) {
  :root {
    --el-font-size-base: 1rem;
  }
}