@use './ml-scss-generated' as *;
:root {
  @include root-css-var;

  // Layout Height
  --layout-header-height: 40px;
  --layout-footer-height: 22px;

  // override user agent stylesheet
  button, input, optgroup, select, textarea {
    font-family: var(--el-font-family);
  }
  h1 {
    font-size: var(--el-font-size-extra-large);
  }
  h2 {
    font-size: var(--el-font-size-large);
  }
  h3 {
    font-size: var(--el-font-size-medium);
  }
  h4 {
    font-size: var(--el-font-size-base);
  }
  h5 {
    font-size: var(--el-font-size-small);
  }
  h6 {
    font-size: var(--el-font-size-extra-small);
  }
}

@media screen and (max-width: $ml-layout-compact-width) {
  :root {
    --el-font-size-base: 1rem;
  }
}
